# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# If you use VSCode
.vscode/

# If you use PyCharm
.idea/

# Python-specific
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# dotenv environment variables file
.env

# mypy
.mypy_cache/

# coverage reports
htmlcov/
.coverage
.coverage.*

# pytype static analyzer
.pytype/

# Unit test / coverage reports
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pyre type checker
.pyre/

# celery beat schedule file
celerybeat-schedule

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py
